To generate random data in Python using a [random](https://pynative.com/python/random/) module

In [ ]:
import random
import math

### Exercise 1
You have a list a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89].

Print all even elements and sum.

In [ ]:
a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89]

print("Even elements are next:")
sum=0

for i in a:
  if i%2==0:
    print(i)
    sum = sum+i
print(f"There sum is {sum}")

Even elements are next:
2
6
34
There sum is 42

### Exercise 2
Print a list that consists of the common elements of the two lists.

In [ ]:
a = [1, 1, 2, 3, 5, 6, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

print(list(set(a).intersection(set(b))))

[1, 2, 3, 5, 6, 13]

### Exercise 3
Print the first n lines of [Pascal's triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle). The view can be not formatted, that is, just print lines from Pascal's triangle.

In [ ]:
n = int(input('Enter the number of lines: '))

line = [1]
print(f"Line 0: {line}")
for i in range(1, n+1):
  newline = [1]
  for i in range(len(line)-1):
    newline.append(line[i]+line[i+1])
  newline.append(1)
  line = newline
  print(f"Line {i}: {line}")

Enter the number of lines: 0
Line 0: [1]

### Exercise 4
Check if the string is a palindrome.

In [ ]:
string = input('Enter the string: ')
if string == string[::-1]:
  print("YES! Its a palindrome!")
else:
  print("No! Unfortunately, its not a palindrome")

Enter the string: abababa
YES! Its a palindrome!

### Exercise 5
Convert seconds to days:hours:minutes:seconds (without using datetime)

In [ ]:
seconds = int(input("Number of seconds: "))
print(f"{seconds} seconds are {seconds // 3600} hours, {(seconds%3600)//60} minutes, {seconds%60} seconds")

Number of seconds: 3600
3600 seconds are 1 hours, 0 minutes, 0 seconds

### Exercise 6
You accept a comma-separated sequence of numbers from the user. Make a list and tuple of these numbers.

In [ ]:
sequence = input("Enter the sequence: ")
# your code here
l= list(map(int, sequence.split(",")))
t= tuple(map(int, sequence.split(",")))
print(f"This is list: {l}")
print(f"This is tuple: {t}")

Enter the sequence: 1,2,3
This is list: [1, 2, 3]
This is tuple: (1, 2, 3)

### Exercise 7
Print the first and last element of a list filled with N random integers.

In [ ]:
N = int(input())

from random import randint

rand_list=[]
for i in range(N):
  rand_list.append(random.randint(-10**100, 10**100))
print(f"First element: {rand_list[0]} and last element: {rand_list[len(rand_list)-1]}")

5
First element: 8358573219977855500614407128082229985519956470782051110727351660656404118333425200134649344219738927 and last element: 5842355471200170335909013848902515492885528816076390034220760362320370083278251902274959817371609025

### Exercise 8
Print the file extension. If it cannot be determined, print "no extension".

In [ ]:
filename = input('File name: \n')

import os.path

extension = os.path.splitext(filename)[1]
if extension == "":
  print('Oops, no extension :(')
else:
  print(f"The extension of the file is: {extension}")

File name:
brgbb/rvrvtb/tbbe/brg
Oops, no extension :(

### Exercise 9
Add up the digits of the given integer.

In [ ]:
x = 12345
sum=0
for i in list(str(x)):
  sum=sum+int(i)
print(f"Sum of digits is equal to {sum}")

Sum of digits is equal to 15

### Exercise 10
Ð¡reate two lists of size 20 containing random integers from the segment [0, 30], prints them to the screen and all elements of the first that are not in the second.

In [ ]:
from random import randint

lst1 = []
lst2 = []

for i in range(20):
  lst1.append(randint(0,30))
  lst2.append(randint(0,30))

print(f"List 1: {lst1}")
print(f"List 2: {lst2}")

print(f"All elements of the first that are not in the second: {list(set(lst1) - set(lst2))}")

List 1: [17, 30, 1, 24, 8, 21, 11, 15, 14, 24, 24, 29, 25, 2, 18, 21, 19, 11, 30, 13]
List 2: [8, 16, 9, 23, 11, 20, 15, 26, 25, 24, 9, 1, 1, 6, 19, 29, 9, 18, 12, 5]
All elements of the first that are not in the second: [2, 13, 14, 17, 21, 30]

### Exercise 11
Find the number of divisors of a given integer.

In [ ]:
integer = int(input())

num = 0
for i in range(1, integer+1):
  if integer % i == 0:
    num = num + 1
print(f"The integer {integer} have {num} divisors")

10
The integer 10 have 4 divisors

### Exercise 12
Count input letter in the input string.

In [ ]:
string = input('string: ')
letter = input('letter: ')

print(f"The string {string} iincludes {list(string).count(letter)} of letter {letter}.")

string: aaaaa
letter: a
The string aaaaa iincludes 5 of letter a.

### Exercise 13
Swap the values

In [ ]:
var1 = input()
var2 = input()

var1, var2 = var2, var1

print(f"var1 = {var1}")
print(f"var2 = {var2}")

5
4
var1 = 4
var2 = 5

### Exercise 14
You need to check if all the numbers in the sequence are unique. The sequence consists of integers entered from the keyboard. The end of the input is the `'#'` symbol.

In [1]:
# your code here
l=[]
while input() != "#":
  l.append(input())
#sequence = input()

#l = list(sequence)
s = set(l)
if len(s)-1 == len(l)-1:
  print("YES, all elements are unique!")
else:
  print("NO, there are not unique :(")

2
3
4
5
#
YES, all elements are unique!

### Exercise 15

Create two built-in frozenset objects from strings `'reversed question'` and `'answer'`, and try to make them keys in the dct dictionary for the strings `'? Tesnezorf dna tes neewteb ecnereffid niam eht si tahw'` and **`'<your answer to the question>'`**, respectively. There is no need to reverse the answer. Finally, print out the dct dictionary.

In [ ]:
obj1 = frozenset(['reversed question'])
obj2 = frozenset(['answer'])
str1 = '? Tesnezorf dna tes neewteb ecnereffid niam eht si tahw'
str2 = 'Set is mutable and frozen set is not'
dct = {}
dct.update({obj1:str1})
dct.update({obj2:str2})
dct

{frozenset({'reversed question'}): '? Tesnezorf dna tes neewteb ecnereffid niam eht si tahw',
 frozenset({'answer'}): 'Set is mutable and frozen set is not'}

### Exercise 16

Find the area of a circle. You can use const `'pi'` from `'math'` module

In [ ]:
r = float(input())

import math

print(f"Area of the circle with radius {r} is equal to {math.pi * (r**2)}")

2
Area of the circle with radius 2.0 is equal to 12.566370614359172

### Exercise 17

Swap keys and values.

In [ ]:
dct = {x: x ** 2 for x in range(10)}
dct
dct2 = {}
for i in range(len(dct)):
  dct2.update({list(dct.values())[i]:list(dct.keys())[i]})
dct2

{0: 0, 1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9}

### Exercise 18

Create a variable that stores the description of this task as a string, separate the words, and convert to LOWERCASE.

In [ ]:
#Didnt understand, what exactly you mean by "separate the words". So, I did the list of words in this sentence.
s = 'Create a variable that stores the description of this task as a string, separate the words, and convert to LOWERCASE.'
sentence_list = s.lower().split(" ")
print(sentence_list)

['create', 'a', 'variable', 'that', 'stores', 'the', 'description', 'of', 'this', 'task', 'as', 'a', 'string,', 'separate', 'the', 'words,', 'and', 'convert', 'to', 'lowercase.']

### Exercise 19
Print the sorted words from the previous exercise in reverse lexicographical order.

In [ ]:
print(sorted(sentence_list)[::-1])

['words,', 'variable', 'to', 'this', 'the', 'the', 'that', 'task', 'string,', 'stores', 'separate', 'of', 'lowercase.', 'description', 'create', 'convert', 'as', 'and', 'a', 'a']

### Exercise 20

Write code that reverses all odd-numbered elements of lst in reverse order.

That is, if lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], then you should get [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [ ]:
def rev_odd(l):
  l1 = []
  l2 = []
  res = []
  for i in range(len(l)):
    if i%2==0:
      l2.append(l[i])
    else:
      l1.append(l[i])
  l12 = l1[::-1]
  for i in range(len(l2)):
    res.append(l2[i])
    res.append(l12[i])
  if len(l12)>len(l2):
    res.append(l12[-1])
  return res

In [ ]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
rev_odd(lst)

[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [ ]:
def rev_odd2(l):
  l_ev = []
  l_od = []
  res = []
  for i in (l):
    if i%2==0:
      l_ev.append(i)
    else:
      l_od.append(i)
  l_od2 = l_od[::-1]
  for i in (l):
    if i%2==0:
      res.append(l_ev[0])
      l_ev.pop(0)
    else:
      res.append(l_od2[0])
      l_od2.pop(0)
  return res

In [ ]:
rev_odd2(lst)

[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]